@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 0px;
}
.ISHSlogo {
  background-color: transparent;
  width: 55px;
  height: 55px;
  margin-top: 8px;
  border: none;
  margin-left: auto;
  margin-right: 6px;
}
.titleimage {
  width: 45vh;
  margin-bottom: 25px;
}
.imgbutton {
  background-color: transparent;
  width: 50px;
  height: 50px;

  border: none;
  margin: none;
}
.img {
  border: none;
  margin: none;
}
.button {
  font-family: "Jua", sans-serif;
  background-color: rgb(25, 156, 222);
  color: white;
  width: 80vw;
  height: 40vw;
  max-width: 360px;
  max-height: 180px;
  border-radius: 15px;
  border: none;
  font-weight: 400;
  font-size: 1.5em;
  display: inline-block;
}
