@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
.tomiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10vh;
  margin-bottom: none;
}
.ISHSlogo {
  background-color: transparent;
  width: 55px;
  height: 55px;
  margin-top: 8px;
  border: none;
  margin-right: auto;
  margin-left: 6px;
}
.titleimage {
  width: 45vh;
  margin-bottom: 25px;
}
.ExplainBtn {
  width: 60px;
  height: 60px;
  padding: 0em;
  border: 0em;
  float: right;
  margin-top: 3px;
}
.ExplainBtnImg {
  width: 60px;
  height: 60px;
}
.button {
  font-family: "Jua", sans-serif;
  background-color: rgb(25, 156, 222);
  color: white;
  width: 80vw;
  height: 40vw;
  max-width: 360px;
  max-height: 180px;
  border-radius: 15px;
  border: none;
  font-weight: 400;
  font-size: 1.5em;
  display: inline-block;

  margin-top: 8em;
}
