@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.tomiddle {
  font-family: "Jua", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgbackBtn {
  width: 50px;
  height: 50px;
}

.backBtn {
  width: 50px;
  height: 50px;
  padding: 0em;
  border: 0em;
}

.Title {
  font-size: 30px;
}
